page-objectives {
	h5{
		line-height: 0rem;
		margin-bottom: 1rem;
	}

	.check-buttons{
		height: 70px;;
		text-transform: none;
		font-size: 1.4em;
		margin-bottom: 5px;
		/*font-weight: lighter;*/
	}

	.newbutton-color{
		background-color: #44DB5E;
	}

	.title{
     	line-height: 0rem;
     	margin-bottom: .7em;
	}

	ol{
		margin-bottom: 1rem;
	}

	.act_area {
	  white-space: pre;
	}

	

	
}
